<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - SMAPI.io</title>
    <link rel="stylesheet" href="~/Content/css/main.css" />
    @RenderSection("Head", required: false)
</head>
<body>
    <div id="sidebar">
        <h4>SMAPI</h4>
        <ul>
            <li><a href="https://stardewvalleywiki.com/Modding:Index">FAQs & guides</a></li>
            <li><a href="https://github.com/pathoschild/SMAPI/releases">Download SMAPI</a></li>
            <li><a href="https://discord.gg/stardewvalley">Get help on Discord</a></li>
        </ul>
    </div>
    <div id="content-column">
        <div id="content">
            <h1>@ViewData["Title"]</h1>
            @RenderBody()
        </div>
        <div id="footer">
            <div id="license">
                Hi! You can <a href="https://github.com/pathoschild/SMAPI" title="view source">view the source code</a> or <a href="https://github.com/pathoschild/SMAPI/issues" title="report issue">report a bug or suggestion</a>.
            </div>
        </div>
    </div>
</body>
</html>
