/*********
** Intro
*********/
h1 {
    text-align: center;
    font-size: 6em;
    color: #000;
}

#blurb {
    margin: auto;
    width: 30em;
    text-align: center;
}

#call-to-action {
    margin: 3em 0;
    text-align: center;
}

#call-to-action a {
    box-shadow: #caefab 0 1px 0 0 inset;
    background: linear-gradient(#77d42a 5%, #5cb811 100%) #77d42a;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #306108;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: #aade7c 0 1px 0;
}

#call-to-action a.secondary-cta {
    background: #768d87;
    border: 1px solid #566963;
    color: #ffffff;
    text-shadow: #2b665e 0 1px 0;
}

/*********
** Subsections
*********/
.github-description {
    border-left: 0.25em solid #dfe2e5;
    padding-left: 1em;
}

.github-description .noinclude {
    display: none;
}

#support-links li small {
    display: block;
    width: 50em;
}
