body {
    font-size: 10pt;
    background: #fff;
}

.mod-repeat {
    font-size: 8pt;
}

input[type="button"] {
    cursor: pointer;
}

.template {
    display: none;
}

.popup, #uploader {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
    background-color: rgba(0, 0, 0, .33);
    z-index: 2;
    display: none;
    padding: 5px;
}

#uploader:after {
    content: attr(data-text);
    display: block;
    width: 100px;
    height: 24px;
    line-height: 25px;
    border: 1px solid #000;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -12px -50px 0 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

.popup h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -150px;
    text-align: center;
    width: 300px;
    border: 1px solid #008;
    border-radius: 5px;
    background: #fff;
    font-family: sans-serif;
    font-size: 40px;
    margin-top: -25px;
}

.frame {
    margin: auto;
    margin-top: 25px;
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    padding-bottom: 30px;
}

.buttons {
    position: absolute;
    display: inline-block;
    bottom: -10px;
    right: 0px;
    padding: 5px;
    border: 1px solid #008;
    border-radius: 5px;
    background: #fff;
}

#cancel, #closeraw {
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #880000;
    background-color: #fcc;
    outline: none;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .2);
}

#cancel:hover, #closeraw:hover {
    background-color: #fee;
}

#submit {
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #008800;
    background-color: #cfc;
    outline: none;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .2);
}

#submit:hover {
    background-color: #efe;
}

#input, #dataraw {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000088;
    outline: none;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 192, .2);
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

#tabs {
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 0;
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(210, 235, 249, 1) 100%);
}

#tabs li {
    margin: 5px 1px 0 0;
    height: 25px;
    float: left;
    display: inline-block;
    width: 75px;
    border: 1px solid #000000;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    text-shadow: 0px 0px 2px #fff;
    border-color: #880000;
    background-color: #fcc;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .2);
}

#tabs li:hover {
    background-color: #fee;
}

#tabs li:first-child {
    margin-left: 5px;
}

#tabs li.active {
    background: #cfc;
    border-color: #008800;
}

#tabs li.active:hover {
    background: #efe;
}

#tabs li.upload {
    float: right;
    background: #ccf;
    border-color: #000088;
    margin-right: 5px;
}

#tabs li.upload:hover {
    background: #eef;
}

#tabs li.notice {
    color: #000000;
    background: transparent;
    border: 0;
    padding-top: 1px;
    font-size: 13px;
    font-weight: normal;
    width: auto;
    margin-left: 5px;
    cursor: default;
    box-shadow: none;
    font-style: italic;
}

#output {
    border-top: 1px solid #888;
    position: fixed;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    overflow: auto;
    font-family: monospace;
}

#output > * {
    display: block;
}

#output.trace .trace,
#output.debug .debug,
#output.info .info,
#output.alert .alert,
#output.warn .warn,
#output.error .error {
    display: none;
}

#output .trace {
    color: #999;
}

#output .debug {
    color: #595959;
}

#output .info {
    color: #000
}

#output .alert {
    color: #b0b;
}

#output .warn {
    color: #f80
}

#output .error {
    color: #f00
}

#output .always {
    font-weight: bold;
    border-bottom: 1px dashed #888888;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

caption {
    text-align: left;
    padding-top: 2px;
}

#log {
    border-spacing: 0;
}

#log tr {
    background: #fff;
}

#log td {
    padding: 0 1px;
    background: inherit;
    border-bottom: 1px dotted #ccc;
    border-top: 2px solid #fff;
    vertical-align: top;
}

#log td:not(:last-child) {
    max-width: 175px;
    padding: 0 4px;
    overflow: hidden;
    white-space: nowrap;
}

#log td[data-title]:hover {
    font-size: 1px;
    overflow: inherit;
    position: relative;
}

#log td:nth-child(3):hover:after {
    content: attr(data-title);
    display: block;
    position: absolute;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #ccc;
    background: inherit;
    border: 1px solid #ccc;
    background: #efefef;
    padding: 1px 1px 0 1px;
    font-size: 10pt;
    top: -2px;
    left: 2px;
    color: #000;
}

#log td:last-child {
    width: 100%;
}

table#gameinfo,
table#modslist {
    border: 1px solid #000000;
    background: #ffffff;
    border-radius: 5px;
    border-spacing: 1px;
    overflow: hidden;
    cursor: default;
    box-shadow: 1px 1px 1px 1px #dddddd;
}

#modslist {
    min-width: 400px;
}

#gameinfo td:first-child {
    padding-right: 5px;
}

#gameinfo tr,
#modslist tr {
    background: #eee
}

#gameinfo tr:nth-child(even),
#modslist tr:nth-child(even) {
    background: #fff
}

#modslist tr {
    cursor: pointer;
}

span.notice {
    font-weight: normal;
    font-size: 11px;
    position: relative;
    top: -1px;
    display: none;
}

span.notice.btn {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    position: relative;
    top: -1px;
    padding: 0 2px;
    background: #eee;
}

#output:not(.modfilter) span.notice.txt {
    display: inline-block;
}

#output.modfilter span.notice.btn {
    display: inline-block;
}
