/*********
** Intro
*********/
#content {
    max-width: calc(100% - 2em); /* allow for wider table if room available */
}

#blurb {
    margin-top: 0;
    width: 50em;
}

#beta-blurb {
    width: 50em;
    margin-bottom: 2em;
    padding: 1em;
    border: 3px solid darkgreen;
}

table.wikitable {
    background-color:#f8f9fa;
    color:#222;
    margin:1em 0;
    border:1px solid #a2a9b1;
    border-collapse:collapse
}

table.wikitable > tr > th,
table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
    border:1px solid #a2a9b1;
    padding:0.2em 0.4em
}

table.wikitable > tr > th,
table.wikitable > * > tr > th {
    background-color:#eaecf0;
}

table.wikitable > caption {
    font-weight:bold
}

#show-fields-option {
    opacity: 0.7;
}

#mod-list .mod-page-links,
#mod-list .mod-alt-authors,
#mod-list .mod-alt-names,
#mod-list .mod-broke-in {
    font-size: 0.8em;
}

#mod-list .mod-alt-authors,
#mod-list .mod-alt-names {
    display: block;
}

#mod-list tr {
    font-size: 0.9em;
}

#mod-list tr[data-status="Ok"],
#mod-list tr[data-status="Optional"] {
    background: #BFB;
}

#mod-list tr[data-status="Workaround"],
#mod-list tr[data-status="Unofficial"] {
    background: #CF9;
}

#mod-list tr[data-status="Broken"] {
    background: #FBB;
}

#mod-list tr[data-status="Obsolete"],
#mod-list tr[data-status="Abandoned"] {
    background: #BBB;
    opacity: 0.7;
}

#mod-list .mod-closed-source {
    color: red;
    font-size: 0.8em;
    opacity: 0.5;
}
