@{
    ViewData["Title"] = "SMAPI log parser";
}

<h2>How to share a SMAPI log</h2>
<ol>
    <li><a href="https://stardewvalleywiki.com/Modding:Player_FAQs#SMAPI_log">Find your SMAPI log</a>.</li>
    <li>Click the file and drag it onto the upload form below (or paste the text in).</li>
    <li>Click <em>Parse</em>.</li>
    <li>Share the link you get back.</li>
</ol>

<h2>Parsed log</h2>
<em>TODO</em>
